@import './markdown.css';
@import './prose.css';

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html.dark {
  color-scheme: dark;
}

:root {
  --c-bg: #fff;
  --c-scrollbar: #eee;
  --c-scrollbar-hover: #bbb;
  --c-text: #333;
  --duration: 0.8s;
  --enter-stage: 0;
  --enter-step: 90ms;
  --enter-initial: 0ms;
  --primary: rgba(253, 120, 151, 0.4);
  --shiki-bg: #fafafa;
}

html {
  background-color: var(--c-bg);
  overflow-x: hidden;
  overflow-y: scroll;
}

.dark:root {
  --c-bg: #050505;
  --c-scrollbar: #111;
  --c-scrollbar-hover: #222;
  --c-text: #ddd;
  --primary: rgba(253, 120, 151, 0.5);
  --shiki-bg: #0e0e0e;
}

@keyframes slide-enter {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-enter-content {
  animation: slide-enter 1s both 1;
  animation-delay: calc(var(--enter-initial) + var(--enter-stage) * var(--enter-step));
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}
::view-transition-old(root) {
  z-index: 1;
}
::view-transition-new(root) {
  z-index: 9999;
}
.dark::view-transition-old(root) {
  z-index: 9999;
}
.dark::view-transition-new(root) {
  z-index: 1;
}
