* {
  color: var(--c-text);
}

h1 {
  font-size: 2.6em;
  font-weight: 600;
  line-height: 1.4;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  animation: slide-enter 1s both 1;
  animation-delay: calc(var(--enter-initial) + var(--enter-stage) * var(--enter-step));
}

p {
  font-size: 1.0em;
  font-weight: 400;
  line-height: 1.4;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  animation: slide-enter 1s both 1;
  animation-delay: calc(var(--enter-initial) + var(--enter-stage) * var(--enter-step));
}

a {
  text-decoration: none !important;
  position: relative;
  cursor: pointer;
  white-space: wrap;
}

a:after {
  content: '' ;
  position: absolute;
  z-index: -1;
  top: 66%;
  left: -0.1em;
  right: -0.1em;
  bottom: 0;
  transition: top 200ms cubic-bezier(0, 0.8, 0.13, 1);
  background-color: var(--primary);
}

a:hover:after {
  top: 0%;
}


.table-of-contents {
  position: fixed;
  top: 90px;
  bottom: 0;
  font-size: 0.8em;
  left: 20px;
  z-index: 200;
  overflow: hidden;
  --uno: hidden lg-flex flex-col w-100px lg-w-200px xl-w-300px;
}

.table-of-contents-anchor {
  --uno: mx2 w-7 h-7 text-lg flex items-center justify-center bg-base rounded
    text-hex-8887 border border-base shadow md: border-transparent md:
    shadow-none transition duration-400;
}

.table-of-contents > ul {
  text-overflow: ellipsis;
  height: 100%;
  overflow-y: auto;
  --uno: rounded op0 mt-1 pb-5 transition duration-700;
}

*:hover > .table-of-contents > .table-of-contents-anchor,
.toc-always-on .table-of-contents > .table-of-contents-anchor {
  --uno: text-inherit;
}

.toc-always-on .table-of-contents > ul {
  opacity: 0.8;
}

*:hover > .table-of-contents > ul {
  opacity: 0.8;
}

.table-of-contents ul > li::before {
  display: none;
}

.table-of-contents ul > li {
  line-height: 1.5em;
  margin-top: 0.5em;
  list-style-type: none;
}

.table-of-contents ul > li > a {
  --uno: op75 hover-op100 transition;
  text-decoration: underline !important;
}

.table-of-contents ul > li > a:after {
  background-color: transparent !important;
}

